.DS_Store
Thumbs.db

.env
.env.backup
.env.production

/.fleet
/.idea
/.vscode
/.zed
.phpactor.json

.phpunit.result.cache
/.phpunit.cache

/auth.json

/node_modules

/public/build
/public/hot

# Ignore all storage
/storage/*

# Re-allow storage structure
!/storage/app/
!/storage/app/public/
!/storage/app/public/products/

# Ignore everything inside products EXCEPT the folder itself
/storage/app/public/products/*
!/storage/app/public/products/.gitkeep

/storage/*.key
/storage/pail

/vendor

Homestead.json
Homestead.yaml
