.DS_Store
Thumbs.db

.env
.env.backup
.env.production

/.fleet
/.idea
/.vscode
/.zed
.phpactor.json

.phpunit.result.cache
/.phpunit.cache

/auth.json

/node_modules

/public/build
/public/hot

/storage/*
!/storage/app
!/storage/app/public
!/storage/app/public/products

/storage/*.key
/storage/pail

/vendor

Homestead.json
Homestead.yaml
